.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body::-webkit-scrollbar {
  width: 9px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255);

}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
  border-radius: 30px;
}
 